@import 'partial';
@import 'buttons';
@import 'letters';

body{
	font-size:12px;
	background-color: #03a9f4;
}

span{
	font-size:36px;
}


.centered{
	text-align: center;
}

.plFontColor{
	color: white;
}

.box{
	height:20px;
	width:20px;
	background-color: white;
}

